{deps, [
  {getopt,  ".*", {git, "https://github.com/jcomellas/getopt.git",       {tag, "v0.6.0"}}}
  %{msgpack, ".*", {git, "https://github.com/msgpack/msgpack-erlang.git", "HEAD"}},
  %{erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git",     "HEAD"}}

]}.

{clean_files, ["*.eunit", "src/gdt_parser.erl", "src/gdt_scanner.erl"]}.
{lib_dirs, ["./deps"]}.
{escript_incl_apps, [getopt]}.
